---
extends: default

rules:
  line-length:
    max: 180
    level: warning
  braces:
    level: warning
  document-start:
    level: error
  comments:
    level: error
  truthy:
    level: error

ignore: |
  .github/stale.yml
  .cache
  roles
