---
- include: Darwin.yml
  when: ansible_os_family == "Darwin"

- include: Debian.yml
  when: ansible_os_family == "Debian"
  
- include: RedHat.yml
  when: ansible_os_family == "RedHat"


- include: install.yml
  become: true
  become_user: "{{ pyenv_owner }}"
  when: pyenv_env == "user"
  
- include: install.yml
  become: true
  when: pyenv_env == "system"

